
 span{
    display: inline-block;
    background-color: azure;
    padding: 10px;
    margin: 5px;
    
} 
.App{
  text-align: center;
}
*body{
  margin: auto;
  text-align: center;
}
.list-wrapper{
  
  margin-left: 450px;
   border: 1px solid saddlebrown;
   width: 250px;
}
.search-list{
  max-width: 100px;
    background-color: aliceblue;
    margin: auto;
}
.clicked{
  background-color: blue;
  color: white;
}

.searchClass{
  display: flex;
  justify-content: center;
}